sv-ttk >= 2.4
ntkutils
darkdetect
pywin32; sys_platform == 'win32'
chlorophyll
markdown
tkinterweb
tkinterdnd2
tklinenums >= 1.5
requests; sys_platform != 'linux'
pygments
pyperclip
pillow == 10.0.0 # tkinterweb requires version 10.0.0
